body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url(Gemini_Generated_Image_hcq7z5hcq7z5hcq7.png);
   background-size: cover;       
    background-repeat: no-repeat;  
    background-position: center;   
   background-attachment: fixed;
  background-color: #695959 ;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

/* Title */
.title {
  margin-bottom: 15px;
}

/* Controls bar */
.controls {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding: 15px 25px;
  margin-bottom: 20px;
}

/* Buttons */
#startRecord,
#stopRecord,
#playRecord {
  padding: 10px 25px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(241, 170, 212);
  background: #050505;
  font-weight: bold;
}
button:hover{
    color: rgb(252, 249, 249);
    box-shadow: 2px 2px 5px rgb(75, 22, 71);
    transform: scale(1.3);
}
/* Disabled state */
#startRecord:disabled,
#stopRecord:disabled,
#playRecord:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Recording visual state */
#startRecord.recording {
  background: red;
  color: white;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0%, 50% { opacity: 1; }
  51%, 100% { opacity: 0.2; }
}

/* Download link */
#downloadLink {
  font-size: 16px;
  text-decoration: none;
  display: block;
  font-weight: bold;
  color:#222;
}

/* Piano container */
.piano {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: flex-end;
  gap: 6px;
  padding: 20px;
  background: #0a0a0a;
  border-radius: 20px;
}

/* White keys */
.key.white {
  position: relative;
  width: 50px;
  height: 180px;
  background: #fff;
  border: 1px solid #aaa;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  z-index: 1;
}

.key.white.active {
  background: #eee;
  transform: translateY(5px);
}

/* Black keys */
.key.black {
  position: absolute;
  bottom: 82px;
  width: 35px;
  height: 120px;
  background: #333;
  color: #fff;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.1s;
  z-index: 10;
  margin-left: 35px;
}

.key.black.active {
  background: #333;
  transform: translateY(-15px);
}
h1{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: rgb(10, 2, 0);
}